body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
}

.menu {
    background-color: #d1c6e6;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.menu li:hover {
    transition: 0.5s;
    background-color: rgba(147, 165, 162, 0.747);
}

/* .item {
    background-color: red;
} */
.item {
    text-align: center;
    width: 300px;
    display: inline-block;
}
.price {
    color: rgb(253, 105, 7);
}

.img:hover {
    transition: 1s;
    transform: scaleX(1.1);
}